/* google font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&family=Poppins:ital@0;1&family=Raleway&display=swap');

/* container */
.container {
    position: relative;

    background: #FFFFFF;
}

/* header section */
.header-main {
    Width: 1321px;
    display: flex;
    margin: 50px 100px 50px;
    background-color: #161616;
    border-radius: 30px;

}

.header-text-section {
    color: #FFFFFF;
    margin: 106px 111px 105px;

}

.header-heading {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 20px;
    margin-top: 0;
}

.p-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.header-button i {
    margin-left: 10px;

}

.header-button {
    margin-bottom: 0;

}

.header-button button {
    background-color: tomato;
    padding: 16px 25px 16px 25px;
    font-size: 20px;
    border-radius: 5px;


}

.header-img img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}


/* main bpdy section */
.main-body {
    margin: 50px 100px 50px;
    display: flex;
}

.manu {
    width: 312px;
    height: 312px;
    border-radius: 10px;
    background-color: #1E1E1E;
    margin-top: 24px;

}



.body-button {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

}

.body-button a {
    color: #161616;
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
}

.button-sec .blog-manu {
    background-color: tomato;
}


/* main body right section */

.cards {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    margin-left: 24px;
    margin-top: 24px;
    border: 1px solid gray;
    border-radius: 10px;
}

.card-content {
    margin: 53px 30px;
    text-align: center;
}

.two-flag {
    display: flex;
}

.vs {
    margin: 18px 23px;
}

.f-img img {
    width: 93px;
    height: 56px;
}




.card-element {
    margin: 20px 20px 15px;
}

.card-button {
    display: block;
    width: 100px;
    height: 32px;
    border-radius: 5px;

}

.card-button a {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}

.card-h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin: 0;
}

.fa-nd-hour {
    display: flex;
    align-items: center;
    width: 143px;
    height: 26px;
    justify-content: space-between;
}

/* footer section */

.footer {
    width: 1503px;
    height: 444px;
    background-color: #161616;
    margin-top: 75px;
}

.goal {
    padding-top: 130px;
    text-align: center;
}

.goal-text {
    color: white;
    font-size: 40px;
    line-height: 60px;
    ;

}

hr {
    width: 1320px;
    text-align: center;
    opacity: 10%;
}

.footer-manu {
    color: #B9B9B9;
    width: 898px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-content: center;
}

li a {
    text-decoration: none;
    color: #B9B9B9;

}